@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-4">
    <h1 class="display-4">Simple Note Saver App!</h1>
    <p class="lead">
        This is a simple webApp I made for fun after learning about ASP.NET Core backend development :D<br>
        It is a simple Note Saver where you can save your notes(forgive the redundancy).
    </p>
    <hr class="my-4">
    <p>This project was created in 2020 using:</p>
    <ul>
        <li>ASP.NET Core 3.1 <i class="fas fa-server"></i> and SQL Server <i class="fas fa-database"></i></li>
        <li>Boostrap 4 <i class="fab fa-bootstrap"></i>
    </ul>
    <div class="col text-center">
        <a class="btn btn-dark btn-lg" href="https://github.com/reon150/Simple-Note-Saver" target="_blank" role="button">Source Code<i class="fab fa-github ml-2"></i></a>
    </div>
</div>
